@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


body {
  font-family: "Roboto Condensed", sans-serif !important;
}

:root {
  --primary-white: #fff;
  --primary-dark: #244242;
}
/*********************** NAVBAR ************************/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
 
nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
color: var(--primary-white) !important;
}

/********************* HEADER **********************/

.bg-header {
  position: relative;
  background-size: cover;
  background-image: url('./bg-header.png');
  background-position: center;
  height: 90vh;

}
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.main-info > h1 {
color: var(--primary-white);
padding-top: 5rem;
}

.main-info > button {
  margin-top: 5rem;
}

/******************* PARTICLES ********************/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}