@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto Condensed", sans-serif !important; 
}

.right {
  right: 0;
}

.front {
  z-index: 2;
}



/********************* HEADER **********************/

.wrapper{
  top: 0;
  background-size: cover;
  background-image: url("./img/cool-background.svg");
  z-index: 0;  
}

.card {
  text-align:center;
  margin: auto;
  margin-top: 16%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: fit-content;
  max-width: 30rem;
  backdrop-filter: blur(40px);
}

/*************** EXPERIENCE ********************/
.bg-experience {
  position: relative;
  background-size: cover;
  background-color: #25412D;
  background-position: center;
  height: 100%;
  z-index: 0;
}
body > .vertical-timeline-element-date {
  color: var(--primary-white) !important;
}

.timeline-date {
  color: var(--primary-white);
}
/******************* PARTICLES ********************/

.tsparticles-canvas-el {
  position: fixed;
  height: 65vh;
  width: 100vw;
  z-index: 1;
}

/********************** PROJECTS ************************/

@media  (max-width: 480px) {
  .bg-projects {
    height: 115vh;
  }
  .projects-main-info {
    padding-top: 5rem;
  }
}
/************************ FOOTER ******************************/
.bg-footer {
  background-color: #343a40;
  width: 100%;
  height: 7vh;
}
.copy {
  text-align: center;
  padding-top: .5rem;
  color:var(--primary-white);
}

